{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4 logo" src="{% static 'images/logo.png' %}" alt="I Was There Logo" width="200">
    <h1 class="display-5 fw-bold">I Was There</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">
        Your concert tracking. Add concerts you have attended. Search for ones that other users have created and add it to your list.
        Share your thoughts and pictures about this day.
      </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a type="button" href="{% url 'account_signup' %}" class="btn btn-purple btn-lg px-4 gap-3">Sign Up</a>
        <a type="button" href="{% url 'account_login' %}" class="btn btn-purple-lighter btn-lg px-4">Login</a>
      </div>
    </div>
  </div>

{%endblock%}