{% extends "base.html" %}

{% block content %}

    <h1>CONCERTS</h1>

    <div class="row">
        <div class="col-12 mt-3 left">
            <nav class="navbar text-bg-dark">
                <div class="container-fluid">
                  <form class="d-flex" role="search">
                    <label for="band" class="col-sm-2 col-form-label">Band: </label>
                    <input class="form-control me-2" type="search" aria-label="Band" name="band">
                    <label for="country" class="col-sm-2 col-form-label">Country: </label>
                    <input class="form-control me-2" type="search" aria-label="Country" name="country">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                  </form>
                </div>
              </nav>
        </div>
    </div>
    <div class="row">

        <!-- Concerts -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for concert in concert_list %}
                <div class="col-md-4">
                    <div class="card text-bg-dark" style="width: 18rem; text-align: center;">
                        <div class="card-body">
                            <h4 class="card-title"><a href="{% url 'concert_detail' concert.slug %}" class="card-link">{{ concert.band }}</a></h4>
                            <h5 class="card-subtitle mb-2 text-muted">{{ concert.date }}</h5>
                            <p class="card-text">{{ concert.city }}, {{ concert.country }}</p>
                            <p class="card-text">{{ concert.number_of_goers }} were there</p>
                            <input type="button" value="ADD TO MY LIST">
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
{%endblock%}