{% extends "base.html" %}

{% block content %}

    <h1>CONCERTS</h1>

    <div class="row">
        <div class="col-12 mt-3 left">
            <nav class="navbar text-white">
                <div class="container-fluid">
                  <form class="d-flex" role="search" method="GET" action="{% url 'home' %}">
                    <label for="band" class="col-sm-2 col-form-label">Band: </label>
                    <input class="form-control me-2" type="search" aria-label="Band" name="band">
                    <label for="country" class="col-sm-2 col-form-label">Country: </label>
                    <input class="form-control me-2" type="search" aria-label="Country" name="country">
                    <button class="btn btn-purple" type="submit">Search</button>
                  </form>
                </div>
              </nav>
        </div>
    </div>
    <div class="row">

        <!-- Concerts -->
        <div class="col-12 mt-3 mb-3">
            <div class="row concert-list">
                {% for concert in concerts %}
                <div class="col-md-3">
                    <div class="card card-purple text-white mt-3" style="text-align: center;">
                        <div class="card-body">
                            <h4 class="card-title"><a href="{% url 'concert_detail' concert.pk %}" class="card-link">{{ concert.band }}</a></h4>
                            <h5 class="card-subtitle mb-2 text-muted">{{ concert.date }}</h5>
                            <p class="card-text">{{ concert.city }}, {{ concert.country }}</p>
                            <p class="card-text">{{ concert.number_of_goers }} were there</p>
                            <p class="card-text text-muted">added by {{ concert.user }}</p>
                            {% if concert.user == user %}
                            <a href="{% url 'edit_concert' concert.pk %}" type="button" class="btn btn-sm btn-purple">EDIT</a>
                            <a href="{% url 'delete_concert' concert.pk %}" type="button" class="btn btn-sm btn-purple">DELETE</a>
                            {% else %}
                            <a href="{% url 'add_to_my_list' concert.pk %}" type="button" class="btn btn-sm btn-purple">ADD TO MY LIST</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row concert-list">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
{%endblock%}