{% extends 'base.html' %} {% block content %}

{% load crispy_forms_tags %}

<h1>EDIT CONCERT</h1>
    
    <div class="row">
        <div class="col view-concert  mt-3 ">
            <div class="card card-purple text-white">
                <div class="card-body">

                    <form method="post" style="margin-top: 1.3em;" enctype="multipart/form-data">
                        {{ band_form | crispy }}
                        {{ concert_form | crispy }}
                        {% csrf_token %}
                        <br>
                        <a href="{% url 'my_concerts' %}" type="button" class="btn btn-purple">Cancel</a>
                        <button class="btn btn-purple-lighter" type="submit">Submit</button>
                    </form>

                </div>
            </div>
        </div>
    </div>

{% endblock content %}