{% extends 'base.html' %} {% block content %}

<h1>VIEW CONCERT</h1>

    <div class="row">
        <div class="col view-concert mt-3">
            <div class="card card-purple text-white" style="width: 18rem; text-align: center;">
                <div class="card-body">
                    <h4 class="card-title">{{ concert.band }}</h4>
                    <h5 class="card-subtitle mb-2 text-muted">{{ concert.date }}</h5>
                    <p class="card-text">{{ concert.city }}, {{ concert.country }}</p>
                    <p class="card-text">{{ concert.number_of_goers }} were there</p>
                    <p class="card-text text-muted">added by {{ concert.user }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row view-concert">
        <h3>Comments:</h3>
        
            
            
                <!-- We want a for loop inside the tags to iterate through each comment in comments -->
                {% for comment in comments %}
                <div class="col-md-8 card card-purple text-white mb-4 mt-3 concert-comments">
                <div class="card-body">
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        <!-- The commenter's name goes here. Check the model if you're not sure what that is -->
                        {{ comment.user }} wrote on {{ comment.created_on }}:
                    </p>
                    <!-- The body of the comment goes before the | -->
                    {{ comment.sentence | safe }}
                </div>
                <!-- Our for loop ends here -->
            </div>
        </div>
                {% endfor %}
            
        
    </div>
    
    <h3 class="text-center">Gallery</h3>

    {% if photos|length is 0 %} 
        <div class="row">
            <div class="col">
                <p class="text-center">No pictures on the gallery yet.</p>
            </div>
        </div>
    {% else %}       
        <div id="gallery" class="carousel slide" data-bs-ride="false">
            <div class="carousel-inner">
                {% for comment in photos %}
                    {% if forloop.counter is 1 %}
                        <div class="carousel-item active">
                    {% else %}
                        <div class="carousel-item">
                    {% endif %}
                <img src=" {{ comment.photo.url }} " class="d-block" alt="Concert photo by {{ comment.user }} ">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Photo taken by {{ comment.user }} </h5>
                </div>
              </div>
            {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#gallery" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#gallery" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
    {% endif %}

    <div class="row mt-3 mb-3">
        <div class="col text-center">
            <a href="{% url 'concerts' %}" type="button" class="btn btn-purple px-4 mt-3">Go to Concerts</a>
            <a href="{% url 'my_concerts' %}" type="button" class="btn btn-purple px-4 mt-3">Go to My Concerts</a>
        </div>
    </div>
        
{% endblock content %}