@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&family=Quicksand:wght@500;700&display=swap');

body {
    background-color: #E5B8F4;
    font-family: 'Oxygen', sans-serif;
}

h1, h2, h3 {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

nav {
    background-color: #810CA8;
}

footer {
    background-color: #810CA8;
}

#gallery .carousel-item img {
  height: 80vh;
  width: 100%;
  object-fit: contain;
  object-position: center center;
  overflow: hidden;
}

#gallery .carousel-item:before {
    content: "";
    background-image: 
        linear-gradient(
            to bottom,
            transparent, rgba(0,0,0,0.5)
        );
    display: block;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
}

.view-concert {
    display: flex;
    justify-content: center;
}

.concert-comments {
    padding: 10px;
}

.form-login input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .form-login input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

.nav-link {
    color: white;
}

.navbar-nav .nav-link.active {
    color: white;
    text-decoration: underline;
}