@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&family=Quicksand:wght@500;700&display=swap');

body {
    background-color: #E5B8F4;
    font-family: 'Oxygen', sans-serif;
}

h1 h2 h3 {
    font-family: 'Quicksand', sans-serif;
}

nav {
    background-color: #810CA8;
}

footer {
    background-color: #810CA8;
}

#gallery .carousel-item img {
  height: 80vh;
  width: 100%;
  object-fit: contain;
  object-position: center center;
  overflow: hidden;
}

#gallery .carousel-item:before {
    content: "";
    background-image: 
        linear-gradient(
            to bottom,
            transparent, rgba(0,0,0,0.5)
        );
    display: block;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
}